div{
    display: flex;
    box-sizing: border-box;
    background: #dce1e5;
    margin: 0;}
h1 {
    text-align: center;
    padding: 10px;
    margin-left: 600px;
    margin-top: 0;
    margin-bottom: 0;
    background: #8d8a8a;
    color: #ffffff;
    border: 4px solid #130000;
    width: 200px;
    height: 40px;
    border-radius: 30px
}

strong{
    font-size: 25px;
}
p{
    margin: 10px;
    text-align: justify;
}
img{
    width: 300px;
    height: 300px;
}